<%- include("header") -%>

<h1 class="blog-post-title">New Blog</h1>
<form class="" action="/" method="post">

  <input type="text" name="blogTitle" placeholder="Enter title" required><br />
  <textarea name="blogContent" rows="8" cols="80" placeholder="Type Here" required autofocus></textarea></br>

  <select class="" name="blogGenre">
    <option value="World">World</option>
    <option value="Technology">Technology</option>
    <option value="Business">Business</option>
    <option value="Spiritual">Spiritual</option>
    <option value="Other">Other</option>
  </select>

<button type="submit" class="btn btn-success ">Submit</button>
</form>
